# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Bb]urstCache/
ShaderCache/
Search/
UserSettings/
.collab/
BuildPlayerData/
ProjectSettings/

# Asset meta data should only be ignored when the corresponding asset is also ignored
!/[Aa]ssets/**/*.meta

# Addressables cache
[Aa]ssets/AddressableAssetsData/*/*.bin

# IDE files
.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
*.sln.iml

# Crash reports
sysinfo.txt
crashlytics-build.properties

# Builds
*.apk
*.aab
*.unitypackage

# OS specific
.DS_Store
Thumbs.db
Desktop.ini
